<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:; font-src 'self' data:; connect-src 'self'; frame-ancestors 'self'; base-uri 'self'; form-action 'self';"/>
    <meta charset="UTF-8"/>
    <title>CSV show</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ROW</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d : ${data}">
        <td th:text="${d}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
